.Header {
  width: 100%;
}

.Header .Header__01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Header .Header__01 span {
  font-weight: 600;
  color: #0b0b0b;
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #855a5a;
  font-size: 12px;
}
