.Header {
  width: 100%;
}

.Header .Header__01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin-top: 10px;
}

.Header .Header__01 span {
  font-weight: 600;
  color: #0b0b0b;

  margin-bottom: 5px;

  border-bottom: 2px solid #855a5a;
  font-size: 15px;
}
