.MM03 {
  width: 100%;
  height: 100%;
}

.MM03 .MM03__title {
  margin-left: 10px;

  font-size: 25px;
  font-weight: 600;
}

.MM03 .MM03__desc {
  font-size: 15px;
  margin-top: 10px;
}

.MM03 .MM03__composer {
  font-size: 18px;
  margin-left: 25px;
  font-weight: 500;
}

.MM03 .MM03__desc .MM03__composer__introduce {
  font-size: 15px;
  margin-left: 35px;
}

.MM03 .MM03__point {
  font-size: 18px;
  margin-left: 25px;
  font-weight: 500;
}

.MM03 .MM03__point__desc {
  font-size: 15px;
  margin-left: 35px;
}
