@import "./reset.css";
@import "./header.css";
@import "./footer.css";
@import "./app.css";
@import "./MM01.css";
@import "./MM02.css";
@import "./MM03.css";
@import "./MM04.css";
@import "./MM05.css";
@import "./MM06.css";

a {
  text-decoration: none;
  color: #fff;
}
